Repository equinix/terraform-provider-equinix, changes with the owners that CODEOWNERS names for each.
All owners: @equinix/governor-devrel-engineering, @equinix/governor-metal-client-interfaces, @equinix/governor-digin-fabric, @equinix/governor-ne-network-edge-engineering

fix: update internal docs links with new resource/datasource URLs (#718)
  docs/data-sources/metal_connection.md
  docs/data-sources/metal_devices.md
  docs/data-sources/metal_precreated_ip_block.md
  docs/data-sources/metal_reserved_ip_block.md
  docs/guides/equinix_fabric_cloud_providers.md
  docs/resources/metal_connection.md
  docs/resources/metal_spot_market_request.md
  internal/resources/metal/connection/datasource_schema.go
  internal/resources/metal/connection/resource_schema.go
  templates/data-sources/metal_connection.md.tmpl
  templates/data-sources/metal_devices.md.tmpl
  templates/data-sources/metal_precreated_ip_block.md.tmpl
  templates/data-sources/metal_reserved_ip_block.md.tmpl
  templates/guides/equinix_fabric_cloud_providers.md
  templates/resources/metal_connection.md.tmpl
  templates/resources/metal_spot_market_request.md.tmpl
Owners: @equinix/governor-metal-client-interfaces, @equinix/governor-digin-fabric

Clarify and_filters schema attribute with checking for default behavior and multi-filter edge case
  equinix/data_source_fabric_service_profile.go
  equinix/resource_fabric_service_profile.go
Owners: @equinix/governor-digin-fabric

Update docs for service profiles data source
  docs/data-sources/fabric_service_profiles.md
Owners: @equinix/governor-digin-fabric

Update documentation with tfplugindocs
  docs/data-sources/fabric_service_profiles.md
  docs/index.md
  equinix/data_source_fabric_service_profile_acc_test.go
  examples/data-sources/fabric_service_profiles/example_1.tf
  templates/data-sources/fabric_service_profiles.md.tmpl
Owners: @equinix/governor-digin-fabric, @equinix/governor-devrel-engineering

Fix service profile and port data sources
  equinix/data_source_fabric_service_profile.go
  equinix/data_source_fabric_service_profile_acc_test.go
  equinix/resource_fabric_port.go
  equinix/resource_fabric_service_profile.go
  equinix/resource_fabric_service_profile_acc_test.go
Owners: @equinix/governor-digin-fabric

Update docs to match changes for default behavior and edge case
  docs/data-sources/fabric_service_profiles.md
Owners: @equinix/governor-digin-fabric

Update index.md to match
  docs/index.md
Owners: @equinix/governor-devrel-engineering

Update sort maxItems to be more than 1 and fix allowed emails in SP creation for Data Source testing
  equinix/data_source_fabric_service_profile.go
  equinix/resource_fabric_service_profile_acc_test.go
Owners: @equinix/governor-digin-fabric

fix: Update service profiles and ports data sources to match corresponding endpoints (#708)
  docs/data-sources/fabric_service_profiles.md
  equinix/data_source_fabric_service_profile.go
  equinix/data_source_fabric_service_profile_acc_test.go
  equinix/resource_fabric_port.go
  equinix/resource_fabric_service_profile.go
  equinix/resource_fabric_service_profile_acc_test.go
  examples/data-sources/fabric_service_profiles/example_1.tf
  templates/data-sources/fabric_service_profiles.md.tmpl
Owners: @equinix/governor-digin-fabric

fix test name
  internal/resources/metal/virtual_circuit/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

move port resource/datasource files
  internal/resources/metal/port/datasource.go
  internal/resources/metal/port/datasource_test.go
  internal/resources/metal/port/helpers.go
  internal/resources/metal/port/resource.go
  internal/resources/metal/port/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

fix function references, package names, etc. after move
  equinix/provider.go
  internal/resources/metal/port/datasource.go
  internal/resources/metal/port/datasource_test.go
  internal/resources/metal/port/helpers.go
  internal/resources/metal/port/resource.go
  internal/resources/metal/port/resource_test.go
Owners: @equinix/governor-devrel-engineering, @equinix/governor-metal-client-interfaces

include error when port delete check fails during testing
  internal/resources/metal/port/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

woof...convert to equinix-sdk-go
  internal/resources/metal/port/helpers.go
  internal/resources/metal/port/resource.go
  internal/resources/metal/port/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

fix error check when validating that a port was deleted
  internal/resources/metal/port/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

include virtual_networks in VLAN delete so the VLAN IDs are available in the response
  internal/resources/metal/vlan/resource.go
Owners: @equinix/governor-metal-client-interfaces

add step to test for removing ipv6 subnet details
  internal/resources/metal/virtual_circuit/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

feat: convert metal_port to equinix-sdk-go (#709)
  equinix/port_helpers.go
  equinix/provider.go
  internal/resources/metal/port/datasource.go
  internal/resources/metal/port/datasource_test.go
  internal/resources/metal/port/helpers.go
  internal/resources/metal/port/resource.go
  internal/resources/metal/port/resource_test.go
  internal/resources/metal/vlan/resource.go
Owners: @equinix/governor-devrel-engineering, @equinix/governor-metal-client-interfaces

fix: convert metal_connection delete to equinix-sdk-go
  internal/resources/metal/connection/resource.go
Owners: @equinix/governor-metal-client-interfaces

fix: convert metal_connection delete to equinix-sdk-go (#721)
  internal/resources/metal/connection/resource.go
Owners: @equinix/governor-metal-client-interfaces

update connection_id param to be optional
  internal/resources/metal/virtual_circuit/resource.go
  internal/resources/metal/virtual_circuit/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

feat: Support IPv6 parameters when creating / updating interconnection virtual circuits (#717)
  internal/resources/metal/virtual_circuit/datasource.go
  internal/resources/metal/virtual_circuit/resource.go
  internal/resources/metal/virtual_circuit/resource_test.go
Owners: @equinix/governor-metal-client-interfaces

docs: use default template for metal_virtual_circuit
  docs/data-sources/metal_virtual_circuit.md
  docs/resources/metal_virtual_circuit.md
  examples/data-sources/equinix_metal_virtual_circuit/data-source.tf
  examples/resources/equinix_metal_virtual_circuit/import.sh
  examples/resources/equinix_metal_virtual_circuit/resource.tf
  internal/resources/metal/virtual_circuit/datasource.go
  internal/resources/metal/virtual_circuit/resource.go
  templates/data-sources/metal_virtual_circuit.md.tmpl
  templates/resources/metal_virtual_circuit.md.tmpl
Owners: @equinix/governor-metal-client-interfaces

docs: use default template for metal_virtual_circuit (#719)
  docs/data-sources/metal_virtual_circuit.md
  docs/resources/metal_virtual_circuit.md
  examples/data-sources/equinix_metal_virtual_circuit/data-source.tf
  examples/resources/equinix_metal_virtual_circuit/import.sh
  examples/resources/equinix_metal_virtual_circuit/resource.tf
  internal/resources/metal/virtual_circuit/datasource.go
  internal/resources/metal/virtual_circuit/resource.go
  templates/data-sources/metal_virtual_circuit.md.tmpl
  templates/resources/metal_virtual_circuit.md.tmpl
Owners: @equinix/governor-metal-client-interfaces

chore(ci): convert to a push-button release workflow
  .github/workflows/release.yml
  .goreleaser.yml
  .releaserc.json
  RELEASE.md
Owners: @equinix/governor-devrel-engineering

chore(ci): convert to a push-button release workflow (#725)
  .github/workflows/release.yml
  .goreleaser.yml
  .releaserc.json
  RELEASE.md
Owners: @equinix/governor-devrel-engineering

chore(ci): rename acctest workflow since it only applies to Metal
  .github/workflows/metal_acctest.yml
  .github/workflows/test.yml
Owners: @equinix/governor-metal-client-interfaces, @equinix/governor-devrel-engineering

chore(ci): rename acctest workflow since it only applies to Metal (#728)
  .github/workflows/metal_acctest.yml
  .github/workflows/test.yml
Owners: @equinix/governor-metal-client-interfaces, @equinix/governor-devrel-engineering

refactor: add comparisons pkg for reused helpers
  equinix/provider.go
  equinix/provider_test.go
  internal/comparisons/comparisons.go
  internal/comparisons/comparisons_test.go
Owners: @equinix/governor-devrel-engineering

refactor: add comparisons pkg for reused helpers (#682)
  equinix/provider.go
  equinix/provider_test.go
  internal/comparisons/comparisons.go
  internal/comparisons/comparisons_test.go
Owners: @equinix/governor-devrel-engineering

feat: PA-VM Integration with Panorama Server
  docs/resources/network_device.md
  equinix/data_source_network_device.go
  equinix/resource_network_device.go
  examples/resources/network_device/example_9.tf
  templates/resources/network_device.md.tmpl
Owners: @equinix/governor-ne-network-edge-engineering, @equinix/governor-devrel-engineering

feat: PA-VM Integration with Panorama Server (#727)
  docs/resources/network_device.md
  equinix/data_source_network_device.go
  equinix/resource_network_device.go
  examples/resources/network_device/example_9.tf
  templates/resources/network_device.md.tmpl
Owners: @equinix/governor-ne-network-edge-engineering, @equinix/governor-devrel-engineering

don't lint the migration tool
  .golangci.yaml
Owners: @equinix/governor-devrel-engineering

chore(ci): lint with golangci-lint
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  GNUmakefile
Owners: @equinix/governor-devrel-engineering

limit ci to checking files that are changed in a PR/commit
  .github/workflows/golangci-lint.yml
Owners: @equinix/governor-devrel-engineering

use go run instead of docker for linting
  GNUmakefile
Owners: @equinix/governor-devrel-engineering

fix typo
  .github/workflows/golangci-lint.yml
Owners: @equinix/governor-devrel-engineering

fix makefile name in lint workflow
  .github/workflows/golangci-lint.yml
Owners: @equinix/governor-devrel-engineering

chore(ci): lint with golangci-lint (#726)
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  GNUmakefile
Owners: @equinix/governor-devrel-engineering

chore(ci): remove broken gh action to update pulumi provider
  .github/workflows/pulumi.yml
Owners: @equinix/governor-devrel-engineering

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
#
*                       @equinix/governor-devrel-engineering
/cmd/migration-tool     @equinix/governor-metal-client-interfaces
*metal*                 @equinix/governor-metal-client-interfaces
docs/guides/network_types.md      @equinix/governor-metal-client-interfaces
*fabric*                @equinix/governor-digin-fabric
*connection_e2e*        @equinix/governor-digin-fabric
*resource_network_*     @equinix/governor-ne-network-edge-engineering
docs/**/network_*      @equinix/governor-ne-network-edge-engineering
*data_source_network_*  @equinix/governor-ne-network-edge-engineering
**/edge-networking      @equinix/governor-ne-network-edge-engineering
