Repository equinix/terraform-provider-equinix, changes with the owners that CODEOWNERS names for each.
All owners: @equinix/governor-metal-client-interfaces, @t0mk, @equinix/governor-digin-fabric, @equinix/network-edge-team

fix: add the missing core count device update back
  equinix/resource_network_device.go
Owners: @equinix/governor-metal-client-interfaces

fix: add the missing core count device update back (#533)
  equinix/resource_network_device.go
Owners: @equinix/governor-metal-client-interfaces

refactor: move connection speed code to a separate package
  equinix/data_source_metal_connection.go
  equinix/resource_metal_connection.go
  equinix/resource_metal_connection_acc_test.go
  internal/schema/metal_connection/speed.go
  internal/schema/metal_connection/speed_test.go
Owners: @t0mk, @equinix/governor-metal-client-interfaces

move connection resource & data source to a new package
  equinix/provider.go
  equinix/resource_metal_vrf_acc_test.go
  internal/resources/metal/metal_connection/datasource.go
  internal/resources/metal/metal_connection/datasource_test.go
  internal/resources/metal/metal_connection/resource.go
  internal/resources/metal/metal_connection/resource_test.go
  internal/resources/metal/metal_connection/speed.go
  internal/resources/metal/metal_connection/speed_test.go
Owners: @equinix/governor-metal-client-interfaces, @t0mk

feat: build on go 1.21
  go.mod
  go.sum
Owners: @equinix/governor-metal-client-interfaces

refactor: move connection resource & data source to a separate package (#530)
  equinix/provider.go
  equinix/resource_metal_vrf_acc_test.go
  internal/resources/metal/metal_connection/datasource.go
  internal/resources/metal/metal_connection/datasource_test.go
  internal/resources/metal/metal_connection/resource.go
  internal/resources/metal/metal_connection/resource_test.go
  internal/resources/metal/metal_connection/speed.go
  internal/resources/metal/metal_connection/speed_test.go
Owners: @equinix/governor-metal-client-interfaces, @t0mk

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
#
*                   @equinix/governor-metal-client-interfaces
/cmd/migration-tool @equinix/governor-metal-client-interfaces
*metal*             @t0mk @equinix/governor-metal-client-interfaces
*fabric*            @equinix/governor-digin-fabric
*ecx*               @equinix/governor-digin-fabric
*connection_e2e*    @equinix/governor-digin-fabric
*equinix_network*   @equinix/network-edge-team
**/edge-networking  @equinix/network-edge-team
